{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}        

{% if articles %}
{% for article in articles_page.object_list %}        

{# First item #}
{% if article.category == 'course' %}

<!--    <div class='article'>-->
<!--        <div class="content-title">-->
<!--            <a href="{{ SITEURL }}/{{ article.url }}"><h1>{{ article.title }}</h1></a>-->
<!--            {% include "metadata.html" %} -->
<!--        </div>-->
<!--        -->
<!--        <div>{{ article.content }}</div>-->
<!--        <hr />-->
<!--    </div>-->
<!--		-->
<!--    {% if loop.length == 1 %}-->
<!--        {% include 'pagination.html' %}-->
<!--    {% endif %}-->

{# other items #}
{% else %} 

    <div class='article'>
        <a href="{{ SITEURL }}/{{ article.url }}"><h2>{{ article.title }}</h2></a>
        <div class= "well small"> {% include "metadata.html" %} </div>
        <div style="display:flex;">
            <div>
                <a href="{{ SITEURL }}/{{ article.url }}">
                    <img src="{{ article.coverimage }}" style="max-height:260px; max-width:400px; height:auto; width:auto;">
                </a>
            </div>
            <div class="summary" style="margin-left:10px;">
                <div>
                    {{ article.content | get_first_n_words(35) }}
                </div>
                <div>
                    <a class="btn btn-info small" href="{{ SITEURL }}/{{ article.url }}" style="font-size:20px;height:25px;">
                    Continue reading >>
                    </a>
                </div>
            </div>
        </div>
    </div>

    {% if loop.last and (articles_page.has_previous() or not articles_page.has_previous() and loop.length > 1) %}
        {% include 'pagination.html' %}
    {% endif %}

{% endif %} {# First item if #}

{% endfor %} {# For article #}
{% endif %} {# If articles #}

{% endblock content %}
