---
---

footer {
  text-align: center;
}

blockquote {
  border-left: 1px ridge grey;
  padding: 1em;
  color: grey;
  font-style: italic;
}

.post {
  padding-bottom: 2em;
  border-bottom: 1px solid #eee;
}
