{% if site.firebase %}
  <script src="https://www.gstatic.com/firebasejs/5.5.0/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "{{ site.firebase.apiKey }}",
      authDomain: "{{ site.firebase.authDomain }}",
      databaseURL: "{{ site.firebase.databaseURL }}",
      projectId: "{{ site.firebase.projectId }}",
      storageBucket: "{{ site.firebase.storageBucket }}",
      messagingSenderId: "{{ site.firebase.messagingSenderId }}"
    };
    firebase.initializeApp(config);
  </script>
{% endif %}
