<footer class="footer">
    <div>
        <div style="display: inline-block;">
            <span style="float: left;">
                <a class="nav-link" title="Privacy Policy" href="{{ site.baseurl }}/privacy-policy">Privacy Policy</a>
            </span>
            <span style="float: right;">
                <a class="nav-link" title="Terms and Conditions" href="{{ site.baseurl }}/terms">Terms and Conditions</a>
            </span>
        </div>
        <div>
            &copy; {{ site.time | date: '%Y' }} {{ site.title | escape }}. All rights reserved.
        </div>
    </div>
</footer>
